.users_block {
    /* background: lightblue; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.user{
    /* display: flex; */
    background-color: #037c87;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;font-size: 25px;
    
}

.ava{
    margin-right: 25px;;
    display: flex;
    flex-direction: column;
    
}
.avaimg {
    border-radius: 3px;
    width: 50px;

    /* margin-bottom: 10px; */
}
.ava button {
    border-radius: 5px;
    outline: none;
}
.user_message{
    display: flex;
    width: 100%;
    justify-content:  space-between;
    
}

.user_message .message {
    display: flex;
    flex-direction: column;
}

.message .name {
    margin-bottom: 30px;;
    font-size: 35px;
}
.location {
    display: flex;
    flex-direction: column;
}

.location .city {
    margin-bottom: 30px;
}
.selectedPage {
    font-weight: bold;
    border-radius: 3px;
    
}