.header {
    grid-area: header;
    background-color: #102020;
    height: 40px;
    padding: 10px;
  }

  .login_block {
    float: right;
    color: white;
    margin-right: 10px;
  }
  .login_block a {
    color: white;
    text-decoration: none;
  }