.form_control.error input,
.form_control.error textarea {
    border: 2px solid red;
}

.form_control.error span {
    color: red;
    font-weight: 500;
}

.formSummaryError {
    border: 2px solid red;
    padding: 2px;
    color: red;
}