.side_bar {
    grid-area: sidebar;
    background-color: #037c87;
    padding: 10px;
  }
  .side_bar nav{
    margin-bottom: 20px;
  }
  
  .nav .item a{
    text-decoration: none;
    color: #ffffff;
  }

  .nav .item a.activeLink {
    text-decoration: none;
    color: gold;
  }
