.app_wrapper { 
  display: grid;
  width: 1200px;
  margin: 0 auto;
 
 grid-template-areas:
"header header header"
"sidebar content content";
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;
}

.wrapper_content{
  background-color: #a7b5b7;
  color:#006363;
  padding: 10px;
}

.preloader {
  opacity: 30%;
}

button{
  margin: 1px;
  border-radius: 4px;
  background: linear-gradient(#c8e4eb, #a7b5b7,#c8e4eb);
 padding: 3px 7px;
 color: #333;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 border: 1px solid rgb(129, 129, 129);
}
button:active  {
  border: 1px solid rgb(129, 129, 129);
}
button:focus  {
  border: 1px solid rgb(129, 129, 129);
}

